.barras{
    position: absolute;
  display: flex;
  height: 100%;
  right: 15%;
     .red-bar{
        width: 90px;
        height: 100%;
        background-color: rgb(153, 0, 0);
     }
     .orange-bar{
        width: 60px;
        height: 100%;
        background-color: orangered;
     }
     .yellow-bar{
        width: 30px;
        height: 100%;
        background-color: yellow;
     }
}