.habilidades {
  position: relative;
  width: 80%;
  margin-inline: auto;
  margin-block: 90px;

  
 
  h2 {
    font-size: var(--size-title);
    color: var(--color-title);    
    font-weight: var(--weight-title);
    text-transform: uppercase;
    text-shadow: 2px 2px 0.5px rgb(0, 139, 253);
  }
  p {
    font-size: var(--size-text);
    color:var(--color-text);
    filter: drop-shadow(5px 5px 3px rgb(52, 52, 52));
  }
  .lenguajes {
    display: flex;
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 20px;display: flex;
    color: var(--color-title);
    font-size: var(--size-title);
    font-weight: var(--weight-title);
    text-transform: uppercase;
    text-shadow: 2px 2px 0.5px rgb(0, 139, 253);
    
  }
  div{
    display: flex;
    gap: 50px;
    margin-inline: auto;
   
    img {
      filter: drop-shadow(5px 5px 3px rgb(61, 61, 61));
      height: 120px;

    }
  }
}

.skills{
  display: flex;
  flex-direction: column;
  margin-block: 40px;
}
.lenguajes{
  bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

