.habilidades {
  background-color: white;
  border-radius: 30px 0px 30px 0px;
  position: relative;
  width: 80%;
  margin-inline: auto;
  padding-block: 50px;
  box-shadow: -10px -10px 10px rgb(30, 176, 255), 10px 10px 10px rgb(238, 49, 255);

  
 
  h2 {
    margin-left: 10%;
    font-size: var(--size-title);
    color: var(--color-section);    
    font-weight: var(--weight-title);
    text-transform: uppercase;
    text-shadow: 2px 2px 0.5px rgb(178, 178, 178);
  }
  p {
    font-size: var(--size-text);
    color:var(--color-section);
    margin-inline: auto;
    
  }
  .lenguajes {
    display: flex;
  }
  h3 {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 20px;display: flex;
    color: var(--color-section);
    font-size: var(--size-title);
    font-weight: var(--weight-title);
    text-transform: uppercase;
    text-shadow: 2px 2px 0.5px rgb(178, 178, 178);
    
  }
  div{
    display: flex;
    gap: 50px;
    margin-inline: auto;
   
    img {
      filter: drop-shadow(5px 5px 3px rgb(61, 61, 61));
      height: 120px;
      &:hover{
        filter: drop-shadow(5px 5px 3px rgb(0, 139, 253));
        

      }

    }
  }
}

.skills{
  display: flex;
  flex-direction: column;
  margin-block: 40px;
}
.lenguajes{
  bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

