.main {
  height: 660px;
  position: relative;
  .main-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: grey;
      width: 120px;
      height: 60px;
      background-color: rgb(31, 31, 31);
      box-shadow: 2px 2px 5px rgb(0, 0, 0);
      &:hover {
        color: aqua;
      }
    }
    div {
      width: 120px;
      height: 190px;
      gap: 5px;
      background-color: black;
      box-shadow: 2px 2px 5px rgb(255, 0, 102);

      img {
        width: 120px;
        background-color: black;
      }
    }
  }
  p:nth-child(1){
    animation: presentacion 4s;
  }
  p:nth-child(2){
    opacity: 0;
    animation: presentacion 4s forwards;
    animation-delay: 2s;  

  }
  p:nth-child(3){
    opacity: 0;
    animation: presentacion 4s forwards;
    animation-delay: 4s;  

  
  }
}
.main-nav{
  position: fixed;
  div.interest-links{
    height:4000px;
  }
}
.logo-nombre p {
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 25px;
  color: white;
  font-family: var(--font-title);
  &:nth-child(3){
    font-size: 15px;
    text-transform: uppercase;
  }
}
.interest-links {
  display: flex;
  width: 120px;
  height: 120px;
  fill: white;
  a:nth-child(1) {
    background-color: black;
  }
  a:nth-child(2) {
    background-color: black;
  }
}
a:hover {
  fill: aqua;
}

.big-logo {
  position: absolute;

  top: -400px;
  right: -400px;
  filter: drop-shadow(15px 15px 5px rgb(250, 49, 129));
  animation: mainlogo 5s forwards;
}

@keyframes mainlogo {
  from {
    transform: translate(0, 0);
    opacity: 0;
  }
  to {
    transform: translate(-200px, 200px);
    opacity: 1;
  }
}
.present{
  display: flex;
  font-family: 'Love Ya Like A Sister', cursive;
  flex-direction: column;
  position: absolute;
  width: 900px;
  left: 15%;
  top: 35%;
  color: white;
  font-size: 60px;
}
@keyframes presentacion{
  from{opacity: 0;}
  to{opacity: 1;}
}


@keyframes presentacion-2{
  from{
    opacity: 0;
    transform: translate(0, 0);
}
  to{opacity: 1;}
}