.sobre-mi{
  position: relative;
  height: 920px;
  width: 100%;
  background-image: url(../elements/sobre-mi-back.jpg);
  background-size: cover;
  background-position: center;
   img{
    display: flex;
    width: 400px;

   }
}
