:root {
 --color-nav:rgb(53, 53, 53);
}
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto";
  
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
body{ 
  background-image: url(../elements/background.jpg;);
  background-size: cover;
  background-position: center center;
}