.trabajos{      
    position: relative;
    margin-inline: auto;
    max-width: 80%;
    margin-block: 50px;
    &::after{ 
        content: "";
        margin-top: auto;
        width: 100%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 2px black;
       }
       h2 {
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: var(--size-title);
        color: var(--color-title);    
      }
      p {
        font-size: var(--size-text);
        color:var(--color-text);
        filter: drop-shadow(5px 5px 3px rgb(52, 52, 52));
        margin-bottom: 40px;
      }
       
    }
    .grid-covers{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    .grid-web{
      display: flex;
      gap: 100px;
      
    }
    .grid1 div{
      display: flex;
     margin-bottom: 25px;
     box-shadow: 15px 15px 5px rgb(32, 32, 32);
    }
    .grid2 div{
      display: flex;
     margin-bottom: 25px;
     box-shadow: 15px 15px 5px rgb(32, 32, 32);
    }

       
