.trabajos{  
  background-color: white;
      position: relative;
    margin-inline: auto;
    max-width: 80%;
    border-radius: 0px 90px 0px 90px ;
    box-shadow: 10px 10px 10px rgb(30, 176, 255), -10px -10px 10px rgb(238, 49, 255);
    
    &::after{ 
        content: "";
        margin-top: auto;
        width: 100%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 3px 2px black;
       }
       h2 {
        margin-left: 10%;
        margin-top: 100px;
        padding-top: 50px;
        margin-bottom: 50px;
        font-size: var(--size-title);
        color: var(--color-section); 
        font-weight: var(--weight-title);
        text-transform: uppercase;
        text-shadow: 2px 2px 0.5px rgb(0, 139, 253);
           
      }
      p {
        margin-left: 10%;
        font-size: var(--size-text);
        color:var(--color-section);
        filter: drop-shadow(2px 2px 0px rgb(171, 165, 165));
        margin-bottom: 40px;
      }
       
    }
    .grid-web{
      row-gap: 30px;
      column-gap: 60px;
      display: grid;
      grid-template-columns:1fr 1fr;
      width: 80%;
      margin-inline: auto;
      
      div{
        display: flex;
      box-shadow: 15px 15px 5px rgb(32, 32, 32);
      &:hover{
        transform: translate(-5px, -5px);
        box-shadow: 15px 15px 5px  rgb(0, 139, 253);
      }
     
    }
  }
    .grid-covers{
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        div{
          display: flex;
        box-shadow: 15px 15px 5px rgb(32, 32, 32);
        }
        
    }
  .cover:hover{
    transform: translate(-5px, -5px);
  } 
  body > section.trabajos > div.grid-web > h2{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: var(--weight-title);
    text-transform: uppercase;
    text-shadow: 2px 2px 0.5px rgb(0, 139, 253);
  }
